html, body {
    width: 400px;
  }

  .hidden {
    display: none;
  }

  .header {
    margin-top: 20px;
  }

  .title {
    font-size: 25px;
    margin: 4px 80px;
    text-align: left;
    color: gray;
  }

  .stats {
    margin-top: 70px;
    min-height: 100px;
  }

  #press {
    display: block;
    margin: 3px auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #E5F2F2;
    border: none;
  }

  #press:hover {
    background-color: #CFF2F2;
  }

  .btn {
    margin: 3px auto 30px auto;
  }

  .check{
      margin-left: 110px;
      color: gray;
  }

  #hid{
      color: gray;
      font-size: 22px;
      margin-left: 30px;
      margin-top: 50px;
  }

  #rem{
    color: gray;
    font-size: 22px;
    margin-left: 30px;
    margin-top: 50px;
  }

  #nc{
      color: gray;
      font-size: 22px;
      margin-left: 70px;
  }

  .button {
    background-color: red;
    border: none;
    padding: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button5 {
      border-radius: 50%;
      margin-left: 8em;
    }

  
